{% extends 'base.html.twig' %}

{% use 'tailwind_2_layout.html.twig' %}

{% form_theme form _self %}

{% block form_label %}
    {% set label_class = 'block text-sm font-medium leading-6' %}
    {{ parent() }}
{% endblock %}

{% block widget_attributes %}
    {% set widget_class = 'block w-full rounded-md border-0 p-1.5 shadow-sm ring-1 ring-inset ring-[#465568] bg-transparent placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6' %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="border-b border-white/20 py-8 px-4 mb-16">
        <div class="max-w-screen-xl px-4">
            <a href="{{ path('home') }}" class="uppercase flex items-center cursor-pointer hover:text-[#6cc7cd] fill-white hover:fill-[#6cc7cd]">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" width="16px" height="16px"><!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M137.4 406.6l-128-127.1C3.125 272.4 0 264.2 0 255.1s3.125-16.38 9.375-22.63l128-127.1c9.156-9.156 22.91-11.9 34.88-6.943S192 115.1 192 128v255.1c0 12.94-7.781 24.62-19.75 29.58S146.5 415.8 137.4 406.6z"/></svg>
                Back to travel list
            </a>
        </div>
    </div>
    <div class="max-w-screen-xl mx-auto px-4">
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-5">
            <img class="rounded-[20px]" src="{{ path('trip_image', {slug: trip.slug}) }}" />
            <div class="mx-auto">
                <h1 class="text-6xl mt-8 lg:mt-0">{{ trip.name }}</h1>
                <p class="text-lg opacity-60">{{ trip.tagLine }}</p>

                {{ form_start(form) }}
                    <div class="space-y-10">
                        <div>
                            <h2 class="mt-10 mb-4 text-base font-semibold leading-7">Sign up for this adventure!</h2>
                            <div class="grid grid-cols-1 gap-x-6 gap-y-8">
                                <div>
                                    {{ form_label(form.name, 'Full Name') }}
                                    <div class="mt-2">
                                        {{ form_widget(form.name) }}
                                        {{ form_errors(form.name) }}
                                    </div>
                                </div>
                                <div>
                                    {{ form_label(form.email) }}
                                    <div class="mt-2">
                                        {{ form_widget(form.email) }}
                                        {{ form_errors(form.email) }}
                                    </div>
                                </div>
                                <div>
                                    {{ form_label(form.date, 'Travel Date') }}
                                    <div class="mt-2">
                                        <div class="relative">
                                            <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                                                <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                                    <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
                                                </svg>
                                            </div>
                                            {{ form_widget(form.date, {attr: {'data-controller': 'datepicker', class: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'}}) }}
                                        </div>
                                        {{ form_errors(form.date) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mt-6">
                            <button type="submit" class="text-center w-full rounded-[45px] bg-[#009BE3] py-2 text-sm font-semibold text-white shadow-sm hover:bg-[#0082CA] focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Book Trip</button>
                            <div class="text-center mt-5 text-sm opacity-60">We'll reach out to you with all the important details for your trip!</div>
                        </div>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
